
.intro {
    
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 257px;
}

.intro_left {
    width: 357px;
    padding-top: 50px;
}

.intro_right {
    max-width: 541px;
    margin-left: 130px;
    margin-bottom: 146px;
}

.intro_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;

}

.intro_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26x;
    color: #727272;

}

.intro_img {
    width: 357px;
    height: 234px;
}
.intro_button {
    width: 225px;
    height: 65px;
    background-color: #34547A;
    border: 0;
    color: white;
    margin-top: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.intro_button:hover {
    border-radius: 50px;
    
}
.menu_item {
    text-decoration: none;
    color: inherit;
    position: relative;
}
.menu_item:hover {
    color: blue;
}
.menu_item:after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #34547A;
    transition: 500ms;
}
.menu_item:hover:after {
    width: 69%;
}
@media (max-width: 556px) {
    .intro {
        text-align: center;
        padding-top: 158px;
    }
    .intro_left {
        display: none;
    }
    .intro_title {
        font-size: 48px;
    }
    .intro_right {
        max-width: 100%;
        margin-left: unset;
        margin-bottom: unset;
        padding: 10px 20px 30px;
    }
}
